
body{
    width: 95%;
    max-width: 900px;
    margin: auto;

    background: url(/img/imgFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Lato';
    line-height: 1.5;
    color: black;
    text-align: center;
}
main{
    background: #32ef522e;  
    padding: 5px 40px;
    margin: 40px;
    border-radius: 10px;
}
/*Inicio */
.logo, .titulo, .subTitulo {
    margin: 0;
    text-align: center;
}

/*Blocos de informações - CARDS*/
.plast {
    background: #f00808;
}
.org {
    background: #793d27;
}
.metal {
    background: #e2d20bc9;
}
.odc {
    background: #e43e0a;
}
.corbtn {
    background: black;
}

/* Form*/
/* input {
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
input:hover, input:focus {
    border-color: green;
    color: black;
    font-weight: bold;
}
.enviar {
    height: 35px;
    width: 90px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
form, input, label {
    margin-left: 40px;
} */
