
body{
    width: 95%;
    max-width: 800px;
    margin: auto;

    background: url(/img/imgFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    font-family: 'Lato';
    line-height: 1.5;
    color: black;
    text-align: center;

}

main{
    background: #32ef522e;  
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}
section{

}

.logo, .titulo, .subTitulo {
    margin: 0;
    text-align: center;
}

.reciclaveis{
    max-width: 20rem;


}
.plastico table {
    background: #f11919c9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}
.papel table {
    background: #1b56c1c9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}
.vidro table {
    background: #5aad25c9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}
.organico table {
    background: #793d27c9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}
.metal table {
    background: #e2d20bc9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}
.oleoDeCozinha table {
    background: #e43e0ac9;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}